@import "../../css-config/mixins.scss";

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  padding-bottom: 100px;

  .auth-content {
    background-color: var(--background-color);
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px var(--forth-color);
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .auth-title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 20px;
      text-align: center;
      color: var(--primary-color);
      span {
        padding: 5px 10px;
        border-bottom: 2px solid var(--primary-color);
      }
    }

    .input-field {
      display: flex;
      flex-direction: column;
      gap: 5px;

      color: var(--text-color);
      label {
        font-size: 14px;
        font-weight: 500;
      }

      input {
        padding: 10px;
        border: 1px solid var(--seventh-color);
        border-radius: 5px;
        font-size: 14px;
        outline: none;
        background-color: var(--background-color);
        color: var(--text-color);
        &:focus {
          border-color: var(--primary-color);
          box-shadow: 0 0 5px rgba(142, 45, 226, 0.2);
        }
      }

      .error {
        font-size: 12px;
        color: #ff0000;
      }
    }

    .gender-field {
      display: flex;
      align-items: center;
      gap: 15px;
      flex-direction: row;

      label {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }

    .auth-button {
      padding: 12px;
      border: none;
      border-radius: 5px;
      background-color: var(--primary-color);
      color: white;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--primary-color);
      }
      .loading-circle{
        margin: 0 auto;
      }
    }
    .nav-link {
      color: var(--text-color);
      text-align: center;
      font-size: 15px;
      span {
        cursor: pointer;
        padding: 5px 10px;
        transition: .3s all;
        padding-bottom: 10px;
        span {
          color: var(--primary-color);
          }
          &:hover {
          padding-bottom: 5px;
          border-bottom: 2px solid var(--primary-color);
        }
      }
    }
  }
}
