@import "../../css-config/mixins.scss";
.category-main-content {
  margin: 30px 0;
  @include md {
    margin: 50px 0;
  }
  .layout {
    max-width: calc(100% - 20px);
    margin: 0 auto;
    @include md {
      max-width: 1200px;
    }
    .category-select {
      width: 50%;
      padding: 10px 10px;
      padding-right: 5px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-radius: 8px;
      font-size: 15px;
      background-color: #fff;
      background-image: linear-gradient(45deg, #6b11cb5a 0%, #2574fc7c 100%);
      background-clip: padding-box;
      color: #333;
      cursor: pointer;
      outline: none;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
        inset 0 0 0 1px rgba(255, 255, 255, 0.1);
      transition: all 0.3s ease;

      &:hover {
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15),
          inset 0 0 0 1px rgba(255, 255, 255, 0.2);
      }

      &:focus {
        border-color: #6b11cb83;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), inset 0 0 0 2px #2574fc99;
      }

      @include md {
        width: auto;
        padding: 10px 10px;
        font-size: 15px;
      }
    }
  }
  .category-title {
    font-size: 24px;
    color: var(--text-color);
    @include md {
      font-size: 34px;
    }
  }
  .no-product {
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
  }
  .products-container {
    margin: 20px 0;
    @include md {
      margin: 50px 0;
    }
  }
}
